header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12CBC4;
    border-bottom: 10px solid #000;
    padding: 10px 20px;

}

.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0 #000;
}

.title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}

nav {
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #EA2027;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span {
    background-color: #EA2027;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.banner {
    box-sizing: border-box;
    background-image: url(../assets/img/photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}

.section {
    background-color: #F25A70;
}