
.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0 #000;
}

.title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}

nav {
    text-align: right;
}

span {
    background-color: #EA2027;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.section {
    background-color: #F25A70;
}